<section class="section section-beige">
  <div class="container">
    <ul class="about--wrap">
      <li class="about--item">
        <p class="about--text animated fadeInUp">
          Відпочинок у Шешори Шале – це найкращий спосіб втекти від міської
          метушні та насолодитися природною красою Карпат у будь-яку пору року.
          Влітку та навесні ви зможете насолоджуватися гірськими прогулянкам,
          кататися на велосипедах та відпочивати біля гірської річки. Восени
          влаштовувати тихе полювання на білі гриби та червоноголовці.
        </p>
      </li>
      <li class="about--item">
        <p class="about--text animated fadeInUp">
          Зимою зануритися у всепоглинаючу тишу навколо, ходити на прогулянки в
          ліс та грітися біля комину довгими морозними вечорами. А для любителів
          активного відпочинку, у 80 км знаходиться популярний гірськолижний
          курорт, де можна покататися на лижах та сноуборді.
        </p>
      </li>
    </ul>
  </div>
</section>
