<section class="section">
  <div class="container amenities">
    <div>
      <h2 class="section--title amenities--title">
        Amenities for everyday living.
      </h2>
      <p class="section--description-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        scelerisque aliquam odio et faucibus.
      </p>
    </div>
    <ul class="amenities--list">
      <li>
        <ul>
          <li class="amenities--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#wi-fi-icon"></use>
            </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li class="amenities--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#hanger-icon"></use>
            </svg>
            <p>Nulla rhoncus feugiat eros quis consectetur.</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="amenities--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bread-icon"></use>
            </svg>
            <p>Nullam scelerisque aliquam odio et faucibus.</p>
          </li>
          <li class="amenities--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#cutlery-icon"></use>
            </svg>
            <p>Morbi neque ex, condimentum.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
