<section class="section section-beige">
  <div class="container">
    <h2 class="section--title bedrooms animated zoomIn">Для солодкого сну</h2>
    <p class="section--description-centre">
      Для гостей обладнані затишні кімнати з необхідними меблями, серед яких
      комфортні ліжка, які забезпечать вам спокійний сон після довгих гірських
      пригод.
    </p>
    <ul class="bedrooms--list">
      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#bed-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Ліжка</h3>
        <p class="bedrooms--text">
          Будинок обладнаний 8 спальними місцями: 1 двоспальне ліжко у кімнаті
          на першому поверсі, 2 односпальні - на другому, та два розкладних
          дивани.
        </p>
      </li>
      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#door-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Кімнати</h3>
        <p class="bedrooms--text">
          Розташований на двох поверхах, будинок має 2 спальні, в кожній з яких
          комфорно розміститься до двох людей.
        </p>
      </li>

      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#bath-tub-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Ванна кімната</h3>
        <p class="bedrooms--text">
          У будинку є суміжний санвузол з душовою кабіною. Для комфорту гостей
          надаються засоби гігієни та рушники.
        </p>
      </li>
    </ul>
  </div>
</section>
