<section class="section section-beige">
  <div class="container">
    <h2 class="section--title bedrooms">Sleeping arrangements.</h2>
    <p class="section--description-centre">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
      consectetur.
    </p>
    <ul class="bedrooms--list">
      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#bed-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Beds</h3>
        <p class="bedrooms--text">
          The cabin is equipped with 12 beds, 4 of which are in bunk. The rent
          includes linens for all beds.
        </p>
      </li>
      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#door-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Bedrooms</h3>
        <p class="bedrooms--text">
          Spread out over two floors, the cabin offers 4 bedrooms. Ranging from
          2 to 4 beds per room.
        </p>
      </li>

      <li class="bedrooms--item">
        <svg class="bedrooms--icon" width="64" height="64">
          <use href="./images/svg/sprite.svg#bath-tub-icon"></use>
        </svg>

        <h3 class="bedrooms--subtitle">Bathrooms</h3>
        <p class="bedrooms--text">
          The cabin has three bathrooms, all equipped with showers and one with
          a bath tub,
        </p>
      </li>
    </ul>
  </div>
</section>
