<div class="backdrop js-backdrop visually-hidden">
  <div class="modal">
    <button class="modal--btn__close" data-action="close-modal" type="button">
      <svg class="modal--icon__close" width="24" height="24">
        <use href="./images/svg/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <p class="modal--title">Форма бронювання</p>

    <div class="modal--thank-you visually-hidden">
      <p>Дякуємо, запит відправлено!</p>
      <p class="modal--thank-you__details">
        Звертаємо вашу увагу, що відправлення форми бронювання не є гарантією
        наявності вільних місць. Очікуйте підтвердження від власника оселі.
      </p>
    </div>

    <form class="modal--form">
      <label for="user-name" class="modal--label">Ім'я</label>
      <input
        type="text"
        name="name"
        id="user-name"
        class="modal--input user-name"
        placeholder="Марко Вовчок"
        aria-label="ім’я"
        pattern="^[А-Яа-яЁёІіЇїЄєҐґA-Za-z\s]+$"
        required
      />

      <label for="user-tel" class="modal--label">Номер телефону </label>
      <input
        type="tel"
        name="tel"
        id="user-tel"
        class="modal--input user-tel"
        placeholder="+38 (___) ___-__-__"
        aria-label="номер телефону"
        pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})[-. ]$"
        required
      />

      <label for="user-email" class="modal--label">Електронна адреса</label>
      <input
        type="email"
        name="email"
        id="user-email"
        class="modal--input user-email"
        placeholder="marko@gmail.com"
        aria-label="електронна адреса"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        required
      />

      <label class="modal--label">Період проживання</label>
      <div class="modal--date__wrap">
        <input
          class="modal--input__date start-date"
          type="text"
          name="start-date"
          placeholder="дд-мм-рррр"
          aria-label="дата початоку проживання"
          required
        />
        <p>-</p>
        <input
          class="modal--input__date end-date"
          type="text"
          name="end-date"
          placeholder="дд-мм-рррр"
          aria-label="дата кінця проживання"
          required
        />
      </div>

      <label class="modal--label">Коментар </label>
      <textarea
        name="user-comment"
        class="modal--comment comment"
        id="booking-comment"
        rows="5"
        placeholder="Напишіть тут ваш коментар ..."
      ></textarea>

      <div class="checkbox-styled-line">
        <div class="modal--checkbox-wrap">
          <label class="modal--checkbox-note" for="personal-data"
            >Я погоджуюсь із наданням та обробкою моїх персональних даних
            <input
              id="personal-data"
              type="checkbox"
              class="default-checkbox"
            />

            <span class="custom-checkbox"> </span>
          </label>
        </div>
      </div>

      <button disabled class="button btn-dark modal--btn__submit" type="submit">
        Надіслати
      </button>
    </form>
  </div>
</div>

<!-- autocomplete="off" -->
