<section class="section section-beige">
  <div class="container">
    <h2 class="section--title call-to-action">
      We're already booked up for the spring — hurry up & secure your stay for
      the summer.
    </h2>
    <p class="section--description-centre">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus.
    </p>
    <div class="call-to-action--btn-wrap">
      <a class="button btn-light contact--btn" href="">Contact</a>
      <button class="button btn-dark" type="button">Book now</button>
    </div>
  </div>
</section>
