<section>
  <h2>Contacts</h2>
  <p>Sheshory Chalet</p>
  <ul>
    <li>
      <h3></h3>
      <a href="">Phone</a>
    </li>
    <li>
      <h3></h3>
      <a href="">Email</a>
    </li>
    <li>
      <h3></h3>
      <a href="">Address</a>
    </li>
  </ul>
  <iframe
    class="contacts__googlemap"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.0116541201005!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e1!3m2!1sen!2sua!4v1670759200576!5m2!1sen!2sua"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
