<section class="section">
  <div class="container contacts--container">
    <div class="contacts--wrap">
      <h2 class="section--title contacts">Контакти</h2>
      <ul class="contacts--list">
        <li class="contacts--item">
          <svg class="contacts--icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#smartphone"></use>
          </svg>
          <div class="contacts--text__wrap">
            <h4 class="contacts--title">Телефон</h4>
            <a class="contacts--link" href="tel:+380503779454"
              >+38 050 377 94 54</a
            >
          </div>
        </li>
        <li class="contacts--item">
          <svg class="contacts--icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#envelope"></use>
          </svg>
          <div class="contacts--text__wrap">
            <h4 class="contacts--title">Електронна пошта</h4>
            <a class="contacts--link" href="mailto:welcome@sheshory-chalet.com"
              >welcome@sheshory-chalet.com</a
            >
          </div>
        </li>
        <li class="contacts--item">
          <svg class="contacts--icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#location"></use>
          </svg>
          <div class="contacts--text__wrap">
            <h4 class="contacts--title">Адреса</h4>
            <a
              class="contacts--link"
              href="https://maps.app.goo.gl/YpM54oRk3ctWtzF99"
            >
              вул. Степана Бандери 3а, с. Шешори, <br />Івано-Франківська
              область, Україна 78623</a
            >
          </div>
        </li>
      </ul>
    </div>
    <iframe
      class="contacts--googlemap"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2655719.3987845317!2d25.284161730710263!3d49.45662051324822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4736c5da1d98234f%3A0x6235d3520a815841!2sSheshory%20Chalet!5e0!3m2!1suk!2sua!4v1690467288921!5m2!1suk!2sua"
      allowfullscreen="true"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
