<section>
  <h2>The perfect escape.</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
    aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur.
  </p>
  <ul>
    <li>
      <svg><use></use></svg>
      <h3>Modern Kitchen Appliances</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Outdoor Paths</h3>
      <p>Nulla rhoncus feugiat eros quis consectetur.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Coffee Maker</h3>
      <p>
        Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices,
        ut faucibus orci tincidunt.
      </p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Natural Scenery</h3>
      <p>Cras commodo consequat orci, in convallis risus egestas non.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Air Conditioner</h3>
      <p>Nullam scelerisque aliquam odio et faucibus.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Storage Solutions</h3>
      <p>Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Cutlery Selection</h3>
      <p>Duis tristique sed lorem a vestibulum.</p>
    </li>
    <li>
      <svg><use></use></svg>
      <h3>Take-away Options</h3>
      <p>
        Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero
        ac, cursus quam.
      </p>
    </li>
  </ul>
</section>
