<section class="section">
  <div class="container">
    <h2 class="section--title details">The perfect escape.</h2>
    <p class="section--description-left">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
      consectetur.
    </p>
    <ul class="details--columns">
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#stove-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Modern Kitchen Appliances</h3>
              <p class="details--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#trees-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Outdoor Paths</h3>
              <p class="details--text">
                Nulla rhoncus feugiat eros quis consectetur.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#coffee-maker-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Coffee Maker</h3>
              <p class="details--text">
                Vestibulum sit amet urna turpis. Mauris euismod elit et nisi
                ultrices, ut faucibus orci tincidunt.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#forest-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Natural Scenery</h3>
              <p class="details--text">
                Cras commodo consequat orci, in convallis risus egestas non.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#air-conditioner-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Air Conditioner</h3>
              <p class="details--text">
                Nullam scelerisque aliquam odio et faucibus.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#briefcase-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Storage Solutions</h3>
              <p class="details--text">
                Morbi neque ex, condimentum dapibus congue et, vulputate ut
                ligula.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#glass-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Cutlery Selection</h3>
              <p class="details--text">
                Duis tristique sed lorem a vestibulum.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#pizza-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Take-away Options</h3>
              <p class="details--text">
                Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus
                libero ac, cursus quam.
              </p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
