<section class="section">
  <div class="container">
    <h2 class="section--title details">Ідеальне місце для втечі.</h2>
    <p class="section--description-left">
      Якщо ви шукали місце, де зможете перезавантажитися та з'єднатися з
      природою, то наш будинок стане для вас саме таким затишним місцем.
    </p>
    <ul class="details--columns">
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#stove-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Сучасна техніка</h3>
              <p class="details--text">
                Варочна поверхня, духова шафа, холодильник, мікрохвильова пічка,
                вафельниця, блендер.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#glass-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Сервірування</h3>
              <p class="details--text">
                Необхідний посуд та прибори для приготування та сервірування
                їжі.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#wi-fi-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Інтернет</h3>
              <p class="details--text">
                Безперебійне підключення до Wi-Fi в будинку та у дворі.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#hanger-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Зберігання</h3>
              <p class="details--text">Місткі шафи для зберігання речей.</p>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bread-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Магазини</h3>
              <p class="details--text">
                Невеликі крамниці та супермаркет в пішому доступі.
              </p>
            </div>
          </li>

          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#pizza-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Ресторан</h3>
              <p class="details--text">
                Один із найсмачніших ресторанів української кухні в околиці.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#trees-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Лісові стежки</h3>
              <p class="details--text">
                Прямо біля входу в будинок бере початок стежка на гору.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="details--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#forest-icon"></use>
            </svg>
            <div class="details--wrap">
              <h3 class="details--subtitle">Природні ландшафти</h3>
              <p class="details--text">
                З усіх вікон відкривається вид на гори та сільські будиночки.
              </p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
