<section class="section">
  <div class="container">
    <h2 class="section--title details">The perfect escape.</h2>
    <p class="section--description-left">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
      consectetur.
    </p>
    <ul class="details--columns">
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <div class="details-wrap">
              <h3>Modern Kitchen Appliances</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <div>
              <h3>Outdoor Paths</h3>
              <p>Nulla rhoncus feugiat eros quis consectetur.</p>
            </div>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <div>
              <h3>Coffee Maker</h3>
              <p>
                Vestibulum sit amet urna turpis. Mauris euismod elit et nisi
                ultrices, ut faucibus orci tincidunt.
              </p>
            </div>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <div>
              <h3>Natural Scenery</h3>
              <p>
                Cras commodo consequat orci, in convallis risus egestas non.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="details--list">
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <h3>Air Conditioner</h3>
            <p>Nullam scelerisque aliquam odio et faucibus.</p>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <h3>Storage Solutions</h3>
            <p>
              Morbi neque ex, condimentum dapibus congue et, vulputate ut
              ligula.
            </p>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <h3>Cutlery Selection</h3>
            <p>Duis tristique sed lorem a vestibulum.</p>
          </li>
          <li class="details--item">
            <svg class="bedrooms--icon" width="36" height="36">
              <use href="./images/svg/sprite.svg#bed-icon"></use>
            </svg>
            <h3>Take-away Options</h3>
            <p>
              Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus
              libero ac, cursus quam.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<!-- ADD  div and classes for details-wrap -->
