<footer class="footer">
  <div class="container footer--container">
    <div class="footer--wrap">
      <a href="./index.html"
        ><svg class="logo--icon" width="82" height="82">
          <use href="./images/svg/sprite.svg#icon-logo-sheshory"></use></svg
      ></a>
      <ul class="footer--list">
        <li class="footer--item">
          <a class="footer--link" href="./index.html">Головна сторінка</a>
        </li>
        <li class="footer--item">
          <a class="footer--link" href="./instructions.html"
            >Правила нашого дому</a
          >
        </li>
      </ul>
      <ul class="service--list">
        <li class="service--link__item">
          <a
            class="service--link link"
            href="https://www.booking.com/hotel/ua/sheshory-chalet.bg.html"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="service--icon__booking" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-booking-com"></use></svg
            ><span class="service--link__text">Booking</span></a
          >
        </li>
        <li class="service--link__item">
          <a
            class="service--link link"
            href="https://www.tripadvisor.com/VacationRentalReview-g3221148-d26824965-Sheshory_Chalet-Sheshory_Kosivs_kyi_District_Ivano_Frankivsk_Oblast.html"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="service--icon__tripadvisor" width="30" height="30">
              <use href="./images/svg/sprite.svg#tripadvisor-icon"></use></svg
            ><span class="service--link__text">Tripadvisor</span></a
          >
        </li>
      </ul>
    </div>
    <p class="copyright">
      © Sheshory Chalet. All rights reserved. Powered by
      <a
        class="repo-link"
        href="https://github.com/julieshapo"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Julie Shapo</a
      >
    </p>
  </div>
</footer>
