<section class="section">
  <div class="container">
    <div class="img--wrap">
      <div class="img--thumb">
        <img
          class="img"
          src="./images/gallery/photo_2023-07-16_15-27-05.jpg"
          alt="Side-bed table with book and flowers"
        />
      </div>
      <div class="img--thumb">
        <img
          class="img"
          src="./images/gallery/photo_2023-07-16_15-26-42.jpg"
          alt="Dinning table and TV-zone"
        />
      </div>
      <div class="img--thumb">
        <img
          class="img"
          src="./images/gallery/photo_2023-07-16_15-26-48.jpg"
          alt="Two armchairs and floor lamp "
        />
      </div>
    </div>
  </div>
</section>
