<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a class="logo" href="./index.html">Sheshory Chalet</a>
      <nav>
        <ul class="site-nav__list">
          <li><a class="site-nav__link" href="./index.html">About</a></li>
          <li><a class="site-nav__link" href="./gallery.html">Gallery</a></li>
          <li>
            <a class="site-nav__link" href="./contacts-details.html"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <button class="button btn-light" type="button">Book now</button>
    </div>
  </div>
</header>
