<section class="hero">
  <div class="container">
    <div class="logo--hero">
      <svg class="logo--hero__icon" width="150" height="150">
        <use href="./images/svg/sprite.svg#icon-logo-sheshory"></use>
      </svg>
      <div class="logo-text-wrap">
        <p class="logo--hero__text">Sheshory</p>
        <p class="logo--hero__text">Chalet</p>
      </div>
    </div>
    <h1 class="hero--title">
      Відпочинок вашої душі і тіла посеред мальовничих карпатських гір.
    </h1>
    <p class="hero--text">Шешори, Україна.</p>
  </div>
</section>
