<section>
  <h2>Come together.</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
    aliquam odio et faucibus.
  </p>
  <ul>
    <li>
      <svg></svg>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li>
      <svg></svg>
      <p>Nulla rhoncus feugiat eros quis consectetur.</p>
    </li>
    <li>
      <svg></svg>
      <p>Nullam scelerisque aliquam odio et faucibus.</p>
    </li>
    <li>
      <svg></svg>
      <p>Morbi neque ex, condimentum.</p>
    </li>
  </ul>
</section>
