<section class="section">
  <div class="container">
    <p class="slogan--text">Ваш затишний відпочинок в серці Карпат.</p>
  </div>
</section>

<!-- 
function displayReviews(reviews) {
  const reviewsContainer = document.getElementById('reviews-container');

  reviews.forEach(review => {
    const reviewDiv = document.createElement('div');
    reviewDiv.className = 'review';

    const rating = document.createElement('div');
    rating.className = 'rating';
    rating.textContent = `Rating: ${review.rating}`;

    const reviewText = document.createElement('p');
    reviewText.textContent = review.text;

    reviewDiv.appendChild(rating);
    reviewDiv.appendChild(reviewText);
    reviewsContainer.appendChild(reviewDiv);
  });
} -->
