.bedrooms {
  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 8px;
    margin-bottom: 32px;

    background-color: $colorAccent;
  }

  &--list {
    display: flex;
    justify-content: center;
    gap: 64px;
  }

  &--item {
    width: 346px;
  }

  &--icon {
    margin-bottom: 12px;
  }

  &--subtitle {
    margin-bottom: 8px;

    font-weight: 400;
    line-height: calc(24 / 16);
  }

  &--text {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}
