.footer {
  padding: 100px 0px 20px 0px;
  width: 100%;
  background-color: $colorBgDark;
  color: $colorTextWhite;

  &--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &--item:not(:last-child) {
    margin-bottom: 12px;
  }

  &--link {
    font-size: 14px;
    line-height: calc(20 / 14);
    color: $colorTextWhite;
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
}

.service--link {
  display: flex;
  align-items: center;
  gap: 8px;

  color: $colorTextWhite;
}

.service--icon__tripadvisor {
  fill: $colorBgDark;
  stroke: currentColor;
}

.service--icon__booking {
  fill: $colorBgDark;
  stroke: currentColor;
}
