.header {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $colorBgDark;

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--contact {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &--contact-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &--contact-icon {
    fill: currentColor;
  }

  &--contact-link {
    display: flex;
    gap: 8px;
    align-items: center;
    color: $colorTextWhite;
    font-size: 12px;

    transition: color $transDuration $cubic;

    @include tablet {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $colorAccent;
    }
  }
}
