.slogan--text {
  font-size: 96px;
  font-weight: 700;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 8px;
    background-color: $colorAccent;
    margin-bottom: 32px;
  }
}
